{
    "BasedOnStyle": "LLVM",
    "IndentWidth": 4,
    "TabWidth": 4,
    "UseTab": "Never",
    "BreakBeforeBraces": "Attach",
    "AllowShortFunctionsOnASingleLine": false,
    "ColumnLimit": 0,
    "IndentAccessModifiers": false,
    "AccessModifierOffset": -4
}